<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  {% assign skip_basics = "image,profiles,location" | split:"," %}
  {% for content in data[1] %}
    {% if (content[1] == "") or (skip_basics contains content[0]) %}
      {% continue %}
    {% endif %}

    <tr>
      {% if content[0] == "name" %}
        <td class="p-1 pr-2 font-weight-bold">
          <b>{{ content[0] | capitalize }}</b>
        </td>
        <td class="p-1 pl-2 font-weight-light text">
            {{ content[1] }}
        </td>
      {% elsif content[0] == "email" %}
        <td class="p-1 pr-2 font-weight-bold">
          <b>{{ content[0] | capitalize }}</b>
        </td>
        <td class="p-1 pl-2 font-weight-light text">
          <a href="mailto:{{ content[1] }}" target="_blank">{{ content[1] }}</a>
        </td>
      {% elsif content[0] == "url" %}
        <td class="p-1 pr-2 font-weight-bold">
          <b>{{ content[0] | capitalize }}</b>
        </td>
        <td class="p-1 pl-2 font-weight-light text">
          <a href="{{ content[1] }}" target="_blank" rel="noopener noreferrer">{{ content[1] }}</a>
        </td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
